*.pyc
*.log
*.csv
.directory
.project
.pydevproject
auth.tfvars
.*.swp
lambda.zip
lambda.out
.settings
*.zip
Pipfile
Pipfile.loc

# Python distribution / packaging
.Python
env/
build/
develop-eggs/
eggs/
.eggs/
lib64/
node_modules/
src-global/
*.egg-info/
.installed.cfg
*.egg
dist/
**/pip-wheel-metadata/
logs

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mypy
.mypy_cache/

# Coverage
.coverage*
coverage-reports/
coverage/

# Tox
.tox/

# MS Visual Studio Code
.vscode
# VS pytest cache
.pytest_cache

# JetBrains IDEs
.idea

# MacOS
.DS_Store

#pyenv
.python-version

# terraform modules, states and plan
**/terraform.tfstate.*.backup
**/.terraform
**/tfplan

# expluding all the .env files
src/*.env

#other
pyvenv.cfg
test-reports/
pyproject.toml

# documentation
apidoc/build/
apidoc/source/functions/account_vending_machine/account_vending_machine*
apidoc/source/functions/backend/backend*
apidoc/source/functions/frontend_api/frontend_api*
apidoc/source/layers/common_layer/common_layer*
apidoc/source/layers/core_library/**/core_library*
apidoc/source/layers/user_api/user_api*

# dynamodb portal config
portal_configurations/_build/*
terraform/deployment/portal_config/portal_config_tf_new_state.json

